html, body {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica", sans-serif;
    user-select: none;
}

.header {
    max-width: 100%;
    height: 7vh;
    padding-left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
    color: white;
    background-color: rgb(0, 140, 255);
}

.body {
    max-width: 100%;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-box {
    height: 10vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: lighter;
}

input {
    outline: none;
    border: solid rgb(0, 140, 255) 1px;
    border-radius: 50%;
}

input:focus {
    background-color: rgb(224, 240, 255);
}

.counter, .add-calories-input {
    width: 45vw;
    height: 45vw;
    margin-top: 5vw;
    text-align: center;
    font-size: 15vw;
    color: rgb(0, 140, 255);
}

.footer {
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;
}

.add-button {
    background-color: rgb(0, 140, 255);
}

.add-button:active {
    background-color: rgb(128, 193, 255);
}

.back-button {
    font-size: 3vw;
    background-color: rgb(201, 0, 0);
}

.back-button:active {
    background-color: rgb(255, 155, 155);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.header, .body, .footer {
    border: solid black 1px;
}